# =========================
# Ambienti Virtuali
# =========================
venv/
.venv/
env/

# =========================
# File di sistema Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# =========================
# Editor e Sistemi Operativi
# =========================
.vscode/
.DS_Store
Thumbs.db

# =========================
# Dati e Risultati (Opzionale)
# =========================
